#header_btn {
}

#footer_btn {
	display: flex;
}

#footer_btn:hover {
	text-decoration: underline;
}

#icon_btn {
	min-width: 50px;
}

.btn_background {
	background: #cbcaca;
}

.btn_background:hover {
	background: #646464;
	color: white !important;
}

.button {
	min-width: 80px;
	height: 40px;
	text-align: center;
	display: grid;
	place-items: center;
	resize: none;
}

.event_type {
	background: #bb0212;
	height: 70px;
	border-radius: 10px;
	padding: 20px;
	color: white;

	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 800px) {
	.event_type {
		height: 30px;
		font-size: 10px;
		padding: 5px;
		width: 200px;
		border-radius: 5px;
	}
}
