#button {
	height: 40px;
	width: 84px;
	background-color: #c5cad2;
	display: grid;
	place-items: center;
}

#button:hover {
	color: white;
	background-color: #9d9fa1;
}

#eventbutton {
	background: #bb0212;
	min-width: 80px;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;

	transform: scale(1);
	animation: pulse 2s infinite;
}

#tetrabutton {
	height: 50px;
	width: 200px;
	border: 1px solid;
}

#subscribe_btn {
	background-color: "#f2f2f8";
	height: 50px;
	width: 200px;
}
#subscribe_btn:hover {
	transform: none;
}

#footer_btn {
	height: 50px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 800px) {
	#eventbutton {
		height: 30px;
		font-size: 10px;
		padding: 5px;
		width: 200px;
		border-radius: 5px;
	}
}
