#upcoming_event {
	height: 100px;
	width: 100%;
	background: linear-gradient(89deg, #02cdfb 0%, #13012c 100%);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#u_e_upper_div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#u_e_h1 {
	font-size: 25px;
	color: white;
	margin: 10px;
}

#u_e_h2 {
	font-size: 20px;
	color: white;
	margin: 10px;
}

#timer {
	display: flex;
}

#days,
#hours,
#minutes,
#seconds {
	height: 100%;
	margin: 10px;
}

#days > div,
#hours > div,
#minutes > div,
#seconds > div {
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

@media screen and (max-width: 800px) {
	#u_e_upper_div {
		flex-direction: row;
	}

	#upcoming_event {
		flex-direction: column;
	}

	#u_e_h1 {
		font-size: 10px;
		margin: 5px;
		margin-bottom: 0px;
	}

	#u_e_h2 {
		font-size: 10px;
		margin: 5px;
		margin-bottom: 0px;
	}

	#timer {
		display: flex;
	}

	#days,
	#hours,
	#minutes,
	#seconds {
		height: 100%;
		margin: 5px;
	}

	#days > div,
	#hours > div,
	#minutes > div,
	#seconds > div {
		margin-top: 5px;
		font-size: 10px;
	}
}
