.header {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	padding-right: 50px;
	border-bottom: 0.1px solid rgb(215, 219, 219);
}

#header_bottom {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	padding-right: 50px;
	border-bottom: 0.1px solid rgb(215, 219, 219);
}

#header_bottom_type2 {
	display: none;
}

#logo_box {
	margin-right: 40px;
}

#logo {
	width: auto;
	height: 30px;
}

#header_action_bar {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#header_bar_menu {
	visibility: hidden;
}

@media screen and (max-width: 800px) {
	.header {
		padding-left: 10px;
		border: none;
	}

	#header_bottom {
		display: none;
	}

	#header_bottom_type2 {
		height: 250px;
		display: flex;
		flex-direction: column;
	}

	#header_action_bar {
		display: none;
	}

	#header_bar_menu {
		visibility: visible;
	}
}
