#landing_image {
	background-color: #cccccc;
	height: 663px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;
	grid-template-rows: 1fr auto;
}

#landing_image_title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 100px;
}

#l_img_h1 {
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}

#l_img_h2 {
	font-size: 25px;
	color: #cd8a46;
	font-style: italic;
}
