#footer {
	display: grid;
	grid-template-rows: 1fr auto;
	padding-top: 50px;
	background: #f2f2f8;
}

#footer_btn {
	display: flex;
}

#footer_btn:hover {
	text-decoration: underline;
}

#footer_row1 {
	padding-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-left: 30px;
	padding-right: 30px;
}
#footer_row1 > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#footer_row2 {
	height: 60px;
	background-color: #c5cad2;
	display: flex;
	padding-left: 100px;
	padding-top: 10px;
}

#contact > div {
	display: flex;
	align-items: center;
	/* width: 200px; */
	text-align: left;
	line-height: 2;
}

#contact > div > h3 {
	margin-right: 10px;
}

#contact > div:nth-last-of-type(1) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#contact > div:nth-last-of-type(1) > div {
	display: flex;
}

@media screen and (max-width: 800px) {
	#footer_row1 {
		padding-bottom: 50px;
		display: grid;
		/* justify-content: center;
		flex-direction: column; */
		grid-template-columns: 1fr 1fr;
		place-items: center;
	}
	#footer_row1 > div {
		/* align-items: center; */
		margin-bottom: 20px;
	}

	#footer_row2 {
		padding-left: 0px;
		text-align: center;
		display: grid;
		place-items: center;
	}
}
